In [3]:
import pandas as pd
from glob import glob
from tqdm import tqdm
import os
import pickle

### Cluster Variance Filtering

In [2]:
with open("/data/ksa/04_Data_Preprocessing/32/02_variance_filtering/variance_filtering_cluster.pkl", "rb") as input_file:
    df_var_clust = pickle.load(input_file)
df_var_clust["year"] = "20" + df_var_clust["tahun"].astype("str")
df_var_clust["bulan"] = df_var_clust["bulan"].astype(int)
print(df_var_clust.columns)
df_var_clust.head()

Index(['periode', 'idsubsegment', 'mean_var', 'tahun', 'bulan', 'obs', 'idkab',
       'cluster_data', 'p5', 'p10', 'p15', 'p20', 'p30', 'less_q5', 'less_q10',
       'less_q15', 'less_q20', 'less_q30', 'year'],
      dtype='object')

,periode,idsubsegment,mean_var,tahun,bulan,obs,idkab,cluster_data,p5,p10,p15,p20,p30,less_q5,less_q10,less_q15,less_q20,less_q30,year
0,20220125_20220205,320101006A1,0.131505,22,1,2.0,3201,0,0.181611,0.229575,0.275387,0.320519,0.400098,True,True,True,True,True,2022
1,20220218_20220301,320101006A1,1.194184,22,2,2.0,3201,0,0.181611,0.229575,0.275387,0.320519,0.400098,False,False,False,False,False,2022
2,20220326_20220406,320101006A1,1.074512,22,3,3.0,3201,0,0.151820,0.195646,0.232916,0.263915,0.330108,False,False,False,False,False,2022
3,20220419_20220430,320101006A1,0.458386,22,4,4.0,3201,0,0.164544,0.214334,0.256424,0.293259,0.369269,False,False,False,False,False,2022
4,20220525_20220605,320101006A1,0.798636,22,5,4.0,3201,0,0.164544,0.214334,0.256424,0.293259,0.369269,False,False,False,False,False,2022

### Define

In [4]:
# df.columns
cols_VH = ['idpoint', 'idsubsegment', 'idsegment', 'nth', 'periode', 'observation','idkab','cluster_data',
       'MGRS', 'VH_30', 'VH_29', 'VH_28', 'VH_27', 'VH_26', 'VH_25',
       'VH_24', 'VH_23', 'VH_22', 'VH_21', 'VH_20', 'VH_19', 'VH_18', 'VH_17',
       'VH_16', 'VH_15', 'VH_14', 'VH_13', 'VH_12', 'VH_11', 'VH_10', 'VH_9',
       'VH_8', 'VH_7', 'VH_6', 'VH_5', 'VH_4', 'VH_3', 'VH_2', 'VH_1', 'VH_0',
       'year', 'date']

# df.columns
cols_VV = ['idpoint', 'idsubsegment', 'idsegment', 'nth', 'periode', 'observation','idkab','cluster_data',
       'MGRS', 'VV_30', 'VV_29', 'VV_28', 'VV_27', 'VV_26', 'VV_25',
       'VV_24', 'VV_23', 'VV_22', 'VV_21', 'VV_20', 'VV_19', 'VV_18', 'VV_17',
       'VV_16', 'VV_15', 'VV_14', 'VV_13', 'VV_12', 'VV_11', 'VV_10', 'VV_9',
       'VV_8', 'VV_7', 'VV_6', 'VV_5', 'VV_4', 'VV_3', 'VV_2', 'VV_1', 'VV_0',
       'year', 'date']

In [5]:
files_VV = ['/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_32_VV_unrecode.pkl',
 '/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_32_VV_recode2.pkl']

files_VH = ['/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_32_VH_unrecode.pkl',
 '/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_32_VH_recode2.pkl']

# files_VV = ['/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_varfilter10_32_VV.pkl']

# files_VH = ['/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_varfilter10_32_VH.pkl']

### VV-files

In [5]:
for i in files_VV:
    with open(i, "rb") as input_file:
        df_ = pickle.load(input_file)
    
    df_5var_clust = df_.merge(df_var_clust[['idsubsegment','year', 'bulan', 'idkab','cluster_data', 'less_q5']], \
                              left_on = ['idsubsegment','year', 'nth'],\
                              right_on = ['idsubsegment','year', 'bulan'],\
                              how='left'
                             )
    df_5var_clust = df_5var_clust.loc[df_5var_clust.less_q5]
    df_5var_clust = df_5var_clust[cols_VV]
    
    with open(i[:68] + '_varfilter5_clust' + i[68:], 'wb') as f:
        pickle.dump(df_5var_clust, f)
    # break

In [6]:
for i in files_VH:
    with open(i, "rb") as input_file:
        df_ = pickle.load(input_file)
    
    df_5var_clust = df_.merge(df_var_clust[['idsubsegment','year', 'bulan', 'idkab','cluster_data', 'less_q5']], \
                              left_on = ['idsubsegment','year', 'nth'],\
                              right_on = ['idsubsegment','year', 'bulan'],\
                              how='left'
                             )
    df_5var_clust = df_5var_clust.loc[df_5var_clust.less_q5]
    df_5var_clust = df_5var_clust[cols_VH]
    
    # dump pickle
    with open(i[:68] + '_varfilter5_clust' + i[68:], 'wb') as f:
        pickle.dump(df_5var_clust, f)
    # break

In [8]:
df_.groupby(['cluster_data','idkab']).size()

cluster_data  idkab
0             3201     31875
              3216     20325
              3271      4575
              3275      3375
              3276      5525
1             3212     39550
              3213     24425
              3215     31800
2             3209     28175
              3210     19250
              3274      4150
3             3206     35625
              3207     18950
              3208     24425
              3218      8900
              3278      9850
              3279      2000
4             3202     56350
              3203     43175
              3205     34800
              3272      3875
5             3204     24525
              3211     19400
              3214      9700
              3217     18175
              3273     13175
              3277      1650
dtype: int64

In [7]:
with open('/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_varfilter5_clust_32_VH_unrecode.pkl', "rb") as input_file:
    df_ = pickle.load(input_file)

print(df_.shape)
print(df_.columns)
df_.head

(537600, 42)
Index(['idpoint', 'idsubsegment', 'idsegment', 'nth', 'periode', 'observation',
       'idkab', 'cluster_data', 'MGRS', 'VH_30', 'VH_29', 'VH_28', 'VH_27',
       'VH_26', 'VH_25', 'VH_24', 'VH_23', 'VH_22', 'VH_21', 'VH_20', 'VH_19',
       'VH_18', 'VH_17', 'VH_16', 'VH_15', 'VH_14', 'VH_13', 'VH_12', 'VH_11',
       'VH_10', 'VH_9', 'VH_8', 'VH_7', 'VH_6', 'VH_5', 'VH_4', 'VH_3', 'VH_2',
       'VH_1', 'VH_0', 'year', 'date'],
      dtype='object')

<bound method NDFrame.head of                  idpoint idsubsegment  idsegment nth  periode observation  \
50        320201009A3#01  320201009A3  320201009   1  2022_03         3.0
51        320201009A3#02  320201009A3  320201009   1  2022_03         3.0
52        320201009A3#03  320201009A3  320201009   1  2022_03         3.0
53        320201009A3#04  320201009A3  320201009   1  2022_03         3.0
54        320201009A3#05  320201009A3  320201009   1  2022_03         3.0
...                  ...          ...        ...  ..      ...         ...
10742395  321219004B2#21  321219004B2  321219004   9  2023_23         5.0
10742396  321219004B2#22  321219004B2  321219004   9  2023_23         5.0
10742397  321219004B2#23  321219004B2  321219004   9  2023_23         5.0
10742398  321219004B2#24  321219004B2  321219004   9  2023_23         5.0
10742399  321219004B2#25  321219004B2  321219004   9  2023_23         5.0

         idkab  cluster_data   MGRS      VH_30  ...       VH_7       VH_6  \
50        3202             4  48MXS -14.566465  ... -14.659223 -13.153635
51        3202             4  48MXS -14.742791  ... -14.240765 -14.096164
52        3202             4  48MXS -14.617775  ... -14.984424 -15.676518
53        3202             4  48MXS -14.936208  ... -16.017745 -16.836460
54        3202             4  48MXS -14.224077  ... -14.204602 -14.352502
...        ...           ...    ...        ...  ...        ...        ...
10742395  3212             1  49MAN -15.837939  ... -17.469167 -18.338547
10742396  3212             1  49MAN -15.959814  ... -17.451531 -17.957407
10742397  3212             1  49MAN -17.071453  ... -17.830780 -18.709463
10742398  3212             1  49MAN -17.116788  ... -19.490891 -20.461388
10742399  3212             1  49MAN -15.424409  ... -17.331412 -17.800356

               VH_5       VH_4       VH_3       VH_2       VH_1       VH_0  \
50       -13.836024 -14.264042 -14.220155 -14.081954 -15.385819 -14.512360
51       -14.043587 -13.841569 -14.035186 -14.236593 -14.159606 -13.999538
52       -15.152452 -14.575621 -14.464883 -14.530542 -12.912482 -13.230688
53       -16.513962 -16.383339 -15.474051 -14.226636 -14.716984 -14.031856
54       -13.485039 -12.629539 -13.071113 -13.265615 -13.770346 -13.552280
...             ...        ...        ...        ...        ...        ...
10742395 -18.771305 -19.556450 -18.304928 -19.410671 -20.159557 -20.095133
10742396 -17.861304 -17.235224 -19.656143 -19.305878 -19.355913 -20.984929
10742397 -18.530324 -18.060719 -19.873402 -19.901419 -20.209120 -21.368182
10742398 -19.070868 -17.373121 -18.793303 -19.132193 -19.951969 -20.793630
10742399 -18.133109 -18.702095 -18.560993 -19.684598 -20.663168 -20.820200

          year       date
50        2022 2022-01-01
51        2022 2022-01-01
52        2022 2022-01-01
53        2022 2022-01-01
54        2022 2022-01-01
...        ...        ...
10742395  2023 2023-09-01
10742396  2023 2023-09-01
10742397  2023 2023-09-01
10742398  2023 2023-09-01
10742399  2023 2023-09-01

[537600 rows x 42 columns]>

### Cluster Variance Filtering V2

In [6]:
with open("/data/ksa/04_Data_Preprocessing/32/02_variance_filtering/variance_filtering_cluster_v2.pkl", "rb") as input_file:
    df_var_clust = pickle.load(input_file)
df_var_clust["year"] = "20" + df_var_clust["tahun"].astype("str")
df_var_clust["bulan"] = df_var_clust["bulan"].astype(int)
print(df_var_clust.columns)
df_var_clust.head()

Index(['periode', 'idsubsegment', 'mean_var', 'tahun', 'bulan', 'obs', 'idkab',
       'cluster_data', 'p1', 'p5', 'p10', 'p15', 'p20', 'p30', 'less_q1',
       'less_q5', 'less_q10', 'less_q15', 'less_q20', 'less_q30', 'year'],
      dtype='object')

,periode,idsubsegment,mean_var,tahun,bulan,obs,idkab,cluster_data,p1,p5,...,p15,p20,p30,less_q1,less_q5,less_q10,less_q15,less_q20,less_q30,year
0,20220125_20220205,320101006A1,0.245042,22,1,2.0,3201,0,0.163251,0.244463,...,0.360194,0.415769,0.532345,False,False,True,True,True,True,2022
1,20220218_20220301,320101006A1,0.744052,22,2,2.0,3201,0,0.163251,0.244463,...,0.360194,0.415769,0.532345,False,False,False,False,False,False,2022
2,20220326_20220406,320101006A1,0.603481,22,3,3.0,3201,0,0.147815,0.214952,...,0.306103,0.345863,0.439033,False,False,False,False,False,False,2022
3,20220419_20220430,320101006A1,0.826276,22,4,4.0,3201,0,0.174337,0.271764,...,0.426970,0.489040,0.618570,False,False,False,False,False,False,2022
4,20220525_20220605,320101006A1,3.905070,22,5,4.0,3201,0,0.174337,0.271764,...,0.426970,0.489040,0.618570,False,False,False,False,False,False,2022

In [20]:
files_VV = ['/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_32_VV_unrecode.pkl',
 '/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_32_VV_recode2.pkl']

files_VH = ['/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_32_VH_unrecode.pkl',
 '/data/ksa/04_Data_Preprocessing/training-test/32/training_imputation_32_VH_recode2.pkl']

In [21]:
for i in files_VH:
    with open(i, "rb") as input_file:
        df_ = pickle.load(input_file)
    
    df_5var_clust = df_.merge(df_var_clust[['idsubsegment','year', 'bulan', 'idkab','cluster_data', 'less_q5','less_q10']], \
                              left_on = ['idsubsegment','year', 'nth'],\
                              right_on = ['idsubsegment','year', 'bulan'],\
                              how='left'
                             )
    df_5var_clust1 = df_5var_clust.loc[(df_5var_clust.less_q5) & (df_5var_clust.observation.isin(['1.0','2.0','3.0','4.0','5.0']))]
    df_5var_clust2 = df_5var_clust.loc[(df_5var_clust.less_q10) & (df_5var_clust.observation.isin(['7.0','8.0']))]
    df_5var_clust = pd.concat([df_5var_clust1,df_5var_clust2])
    df_5var_clust = df_5var_clust[cols_VH]
    
    with open(i[:68] + '_varfilter5_clust_78_varfilter10' + i[68:], 'wb') as f:
        pickle.dump(df_5var_clust, f)
    break

In [23]:
df_5var_clust.groupby("observation").size()

observation
1.0     84200
2.0     65175
3.0     92400
4.0    116750
5.0     46700
7.0    138225
8.0    126400
dtype: int64

In [15]:
df_.groupby("observation").size()

observation
1.0    1683475
2.0    1302225
3.0    1846325
4.0    2334050
5.0     932875
7.0    1381675
8.0    1263550
dtype: int64

In [13]:
df_5var_clust.groupby("observation").size()

observation
1.0      84200
2.0      65175
3.0      92400
4.0     116750
5.0      46700
7.0    1381675
8.0    1263550
dtype: int64

In [24]:
df_5var_clust.pivot_table(index='observation', columns='cluster_data', 
                        aggfunc='size', fill_value=0)

cluster_data      0      1      2      3      4      5
observation
1.0            7400  18050   8200  16850  19975  13725
2.0            6200  13800   6275  13900  14275  10725
3.0            7725  19850  10075  18800  21250  14700
4.0           13150  26175  12725  22850  27300  14550
5.0            5925  15025   4350   6700   8900   5800
7.0           22750   3250  13975  20525  53100  24625
8.0           27800   2500   5900  20725  39875  29600